@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.Core
@using Phorcys.UI.Web.Controllers
@using SharpArch.Web.Areas
@using Telerik.Web.Mvc.UI
@model Phorcys.UI.Web.Models.DiveSitesModel
@{
    ViewBag.Title = "Edit Dive Site";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<h1>
    Edit Dive Site</h1>
@{ if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null) {
   } <p id="pageMessage">
       @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
   </p>
}
@Html.ValidationSummary()
@using (Html.BeginForm()) {
    Html.AntiForgeryToken();

    <fieldset>
        @Html.Hidden("DiveSite.Id", (Model != null) ? Model.DiveSite.Id : 0)
        <label for="DiveLocation">
            Dive Location:</label>
        <div>
            <!--disccussion - why doesn't the helper select the correct item?-->

            <select id="DiveSite_DiveLocationId" name="DiveSite.DiveLocationId" >
              @foreach(SelectListItem item in Model.DiveLocationsListItems) {
                <option value="@item.Value" @(item.Selected ? "selected" : "")> @item.Text </option>
              }
            </select>

        </div>
        <label for="DiveSite_Title">
            Title:</label>
        <div>
            <input id="DiveSite_Title" name="DiveSite.Title" type="text" value="@Model.Title" size="50" maxlength="40" />
        </div>
        @Html.ValidationMessageFor(m => m.Title)
        <br />
        <label for="DiveSite_IsFreshWater">
            Fresh/Salt Water:</label>
        <div>
        </div>
        @Html.ValidationMessageFor(m => m.IsFreshWater)
        <div>
            <input type="radio" id="DiveSite_Fresh" name="DiveSite.IsFreshWater" value="true"  
            @if(Model.IsFreshWater) {
                   <text>checked="checked"</text>
             }  
             />
            Fresh
            <input type="radio" id="DiveSite_Salt" name="DiveSite.IsFreshWater" value="false"
            @{ if (!Model.IsFreshWater) {
                   <text>checked="checked"</text>
               } 
               } />
            Salt
        </div>
        <br />
        <label for="DiveSite_GeoCode">
            GeoCode:</label>
        <div>
            @Html.TextBox("GeoCode", (Model != null) ? Model.GeoCode : "")
        </div>
        <br />
        @Html.ValidationMessageFor(m => m.GeoCode)
        <label for="DiveSite_Notes">
            Notes:</label>
        <div>
            <br />
            <textarea id="DiveSite_Notes" name="DiveSite.Notes" rows="6" cols="50" >@{ if (Model != null) {
                                                                                        @(Model.Notes)
                                                                                      } } 
            </textarea>
        </div>
        <br />
        @Html.ValidationMessageFor(m => m.Notes)
        <br />
        @Html.SubmitButton("btnSave", "Save Dive Site")
        @Html.Button("btnCancel", "Cancel", HtmlButtonType.Button,"window.location.href = '../'")
    </fieldset>
        
}
