@using Microsoft.Web.Mvc
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@model Phorcys.UI.Web.Models.GearModel
@{
  ViewBag.Title = "Add Dive Gear";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

  @section Header
  {
 
  }

<h2>
  Add Dive Gear</h2>
@{ if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null) {
   } <p id="pageMessage">
     @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
   </p>
}

@using (Html.BeginForm()) {
  @Html.ValidationSummary()
  Html.AntiForgeryToken();

  
  <fieldset class="editor-label">
    <div>
      <p>
        <label for="Gear_Title">
          Title*</label>
        <br />
        @Html.TextBoxFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
      </p>
    </div>
    <div>
      <p>
        <label for="Gear_SN">
          Serial #</label>
        <br />
        @Html.TextBoxFor(m => m.Sn)
      </p>
    </div>
    <div>
      <p>
        <label for="Gear_Acquired">
          Date Acquired</label>
        @*Html.Telerik().DatePickerFor(m => m.Acquired)*@
        @Html.TextBoxFor(m=> m.Acquired)
        @Html.ValidationMessageFor(m => m.Acquired)
      </p>
    </div>
    <div>
      <p>
        <label for="Gear_RetailPrice">
          Retail Price</label><br/>
        @Html.TextBoxFor(m => m.RetailPrice)
        @Html.ValidationMessageFor(m => m.RetailPrice)
      </p>
    </div>
    <div>
      <p>
        <label for="Gear_Paid">
          Paid</label><br />
        @Html.TextBoxFor(m => m.Paid)
        @Html.ValidationMessageFor(m => m.Paid)
      </p>
    </div>
    <div>
      <p>
        <label for="Gear_Weight" >
        Weight</label><br/>
        @Html.TextBoxFor(m => m.Weight)
        @Html.ValidationMessageFor(m => m.Weight)
      </p>
    </div>
    <div>
      <p>
        <label for="Gear_Notes">
          Notes</label>
        <br />
        <textarea id="notes" name="Notes" rows="6" cols="50"> 
      </textarea>
        @Html.ValidationMessageFor(m => m.Notes)
      </p>
    </div>
    <div>
      @Html.SubmitButton("btnSave", "Save")
      @Html.Button("btnCancel", "Cancel", HtmlButtonType.Button, "window.location.href = '../'")
    </div>
  </fieldset>
}
