@using Microsoft.Web.Mvc
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI
@model Phorcys.UI.Web.Models.GearModel
@{
  ViewBag.Title = "Add Dive Gear";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}
@section Header
{
  <script language="javascript" type="text/javascript">
    function ToggleViewTanks() {
      var elem = document.getElementById("Tanks");
      if (elem.style.display == "none") {
        elem.style.display = "block";
        document.images.ExpandContractIcon.src = "@(Href("~/Content/Images/Contract.png"))";
      } else {
        elem.style.display = "none";
        document.images.ExpandContractIcon.src = "@(Href("~/Content/Images/Expand.jpg"))";
      }
    }    
  </script>
}
<h1>
  Add Dive Gear</h1>
@{ if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null) {
   } <p id="pageMessage">
     @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
   </p>
}
@using (Html.BeginForm()) {
  <div class="errorOnPage">
    @Html.ValidationSummary()
  </div>
  Html.AntiForgeryToken();

  
  <fieldset>
    <div>
      <div class="editor-label">
        Title*
      </div>
      <div>
        @Html.TextBoxFor(m => m.Title, new { @size = "50" })
        @Html.ValidationMessageFor(m => m.Title)
      </div>
    </div>
    <br/>
    <div class="editor-label">
      Serial #
    </div>
    <div>
      @Html.TextBoxFor(m => m.Sn)
    </div>
    <div>
      <br />
      <div class="editor-label">
        Date Acquired
      </div>
      <div>
        @Html.Telerik().DatePickerFor(m => m.Acquired)
        @Html.ValidationMessageFor(m => m.Acquired)
      </div>
    </div>
    <br />
    <div class="editor-label">
      Retail Price
    </div>
    <div>
      @Html.TextBoxFor(m => m.RetailPrice, new { @Value = "0", @size = "10" })
      @Html.ValidationMessageFor(m => m.RetailPrice)
    </div>
    <div>
      <br />
      <div class="editor-label">
        Paid
      </div>
      <div>
        @Html.TextBoxFor(m => m.Paid, new { @Value = "0", @size = "10" })
        @Html.ValidationMessageFor(m => m.Paid)
      </div>
    </div>
    <br />
    <div>
      <div class="editor-label">
        Weight
      </div>
      <div>
      </div>
      @Html.TextBoxFor(m => m.Weight, new { @Value = "0", @size = "6" })
      @Html.ValidationMessageFor(m => m.Weight)
    </div>
    <p>
      <img src="@(Href("~/Content/Images/Tank.png"))" />
      <a href class="section-title" onclick="ToggleViewTanks()">Tank Information</a>
      <br/>
      <img id="ExpandContractIcon" name="ExpandContractIcon" src="@(Href("~/Content/Images/Expand.jpg"))" onclick="ToggleViewTanks()"/>
    </p>
    <div title="Tanks" id="Tanks" style="display:none;">
      <div class="editor-label">
        Tank Volume
      </div>
      <div>
        @Html.TextBoxFor(m => m.TankVolume, new { @Value = "0", @size = "6" })
        @Html.ValidationMessageFor(m => m.TankVolume)
      </div>
      <br />
      <div class="editor-label">
        Working Pressure
      </div>
      <div>
        @Html.TextBoxFor(m => m.WorkingPressure, new { @Value = "0", @size = "6" })
        @Html.ValidationMessageFor(m => m.WorkingPressure)
      </div>
      <br />
      <div class="editor-label">
        Manufactured Month
      </div>
      <div>
        <select name="ManufacturedMonth" id="ManufacturedMonth">
          <option value="0" selected="selected"></option>
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>
      <br />
      <div class="editor-label">
        Manufactured Year
      </div>
      <div>
        @Html.TextBoxFor(m => m.ManufacturedYear, new { @Value = "0", @size = "6" })
        @Html.ValidationMessageFor(m => m.ManufacturedYear)
      </div>
    </div>
    <div>
      <br />
      <div class="editor-label">
        Notes
      </div>
      <textarea id="notes" name="Notes" rows="6" cols="50"> 
      </textarea>
      @Html.ValidationMessageFor(m => m.Notes)
    </div>
    <br />
    <div>
      @Html.SubmitButton("btnSave", "Save")
      @Html.Button("btnCancel", "Cancel", HtmlButtonType.Button, "window.location.href = '../'")
    </div>
  </fieldset>
}
