@using Microsoft.Web.Mvc
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@model Phorcys.UI.Web.Models.GearModel
@{
  ViewBag.Title = "Add Dive Gear";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}
@section Header
{
  <script language="javascript" type="text/javascript">
    window.onloaded = HideTanks();

    function HideTanks() {
      
      
      document.getElementById('Tanks').style.visibility = 'hidden';
    }
    
    function ToggleViewTanks() {
      var elem = document.getElementById("Tanks");
      alert(elem);
    }
  </script>
}
<h1>
  Add Dive Gear</h1>
@{ if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null) {
   } <p id="pageMessage">
     @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
   </p>
}
@using (Html.BeginForm()) {
  <div class="errorOnPage">
    @Html.ValidationSummary()
  </div>
  Html.AntiForgeryToken();

  
  <fieldset class="editor-label">
    <div>
      <p>
        <div class="editor-label">
          Title*
        </div>
        <div class="editor-field">
          @Html.TextBoxFor(m => m.Title)
          @Html.ValidationMessageFor(m => m.Title)
        </div>
      </p>
    </div>
    <div class="editor-label">
      Serial #
    </div>
    <div class="editor-field">
      @Html.TextBoxFor(m => m.Sn)
    </div>
    <div>
      <p>
        <div class="editor-label">
          Date Acquired
        </div>
        <div class="editor-field">
          @Html.Telerik().DatePickerFor(m => m.Acquired)
          @Html.ValidationMessageFor(m => m.Acquired)
        </div>
      </p>
    </div>
    <p>
      <div class="editor-label">
        Retail Price
      </div>
      <div class="editor-field">
        @Html.TextBoxFor(m => m.RetailPrice, new { @Value = "0" })
        @Html.ValidationMessageFor(m => m.RetailPrice)
      </div>
    </p>
    <div>
      <p>
        <div class="editor-label">
          Paid
        </div>
        <div class="editor-field">
          @Html.TextBoxFor(m => m.Paid, new { @Value = "0" })
          @Html.ValidationMessageFor(m => m.Paid)
        </div>
      </p>
    </div>
    <div>
      <p>
        <div class="editor-label">
          Weight
        </div>
        @Html.TextBoxFor(m => m.Weight, new { @Value = "0" })
        @Html.ValidationMessageFor(m => m.Weight)
      </p>
    </div>
    
    <div title="Tanks" id="Tanks" >
      test

    </div>

    <div>
      <p>
        <div class="editor-label">
          Notes
        </div>
        <textarea id="notes" name="Notes" rows="6" cols="50"> 
      </textarea>
        @Html.ValidationMessageFor(m => m.Notes)
      </p>
    </div>
    <div>
      @Html.SubmitButton("btnSave", "Save")
      @Html.Button("btnCancel", "Cancel", HtmlButtonType.Button, "window.location.href = '../'")
    </div>
  </fieldset>
}
