@using Microsoft.Web.Mvc
@using Phorcys.UI.Web.Controllers
@using Phorcys.UI.Web.Models
@using Phorcys.Core
@using SharpArch.Web.Areas
@model DiverCertificationModel
@{
    ViewBag.Title = "Create a Certification";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<h2>
    Create New Dive Certification</h2>
@if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null) {
    <p id="pageMessage">
        @ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()]</p>
}
<!--@Html.ValidationSummary()-->
@using (Html.BeginForm("Create", "Certifications")) {
    @Html.AntiForgeryToken()

  <div class="errorOnPage">
    @Html.ValidationSummary(true, "Please correct the errors and try again.")
  </div>
    
    <div class="editor-label">
    <label for="Agency">
        Agency:</label>
    <div>
        <select id="DiveAgencyId" name="DiveAgencyId">
            @foreach (SelectListItem item in Model.DiveAgencyListItems) {
                <option value="@item.Value" @(item.Selected ? "selected" : "")>@item.Text </option>
            }
        </select>
    </div>
    </div>
    <br />

         <div class="editor-label">
    <label for="Title">
        Title:</label>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.CertificationNum, new { @size = "30" })
        @*<input id="CertificationNum" name="CertificationNum" type="text" value="@Model.CertificationNum" size="30" maxlength="20" />*@
        @Html.ValidationMessageFor(m => m.CertificationNum)
    </div>
    </div>
    <br />
    
         <div class="editor-label">
    <label for="Notes">
        Notes:</label>
    <div>
        <textarea id="Notes" name="Notes" rows="6" cols="70"> </textarea>
    </div>
    </div>
    <br />
    @Html.ValidationMessageFor(m => m.Notes)
    <br />

    @Html.SubmitButton("btnSave", "Save Certification") 
    @Html.Encode(" ")    
    @Html.Button("btnCancel", "Cancel", HtmlButtonType.Button, "window.location.href = '../'")
    <br /> <br />
}
