@using Microsoft.Web.Mvc
@using Phorcys.Core
@using Phorcys.UI.Web.Controllers
@using Phorcys.UI.Web.Models
@using Phorcys.Web.Controllers

@model Phorcys.UI.Web.Models.DiveTypeModel
           
@{
    ViewBag.Title = "Edit Dive Type";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

	<h1>Create Dive Type</h1>
@{ if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null) {
   } <p id="pageMessage">
       @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
   </p>
}
@Html.ValidationSummary()
@using (Html.BeginForm()) {
@Html.AntiForgeryToken()
        
  <div class="errorOnPage">
    @Html.ValidationSummary(true, "Please correct the errors and try again.")
  </div>
      
    <fieldset>
  
    <div>
      <p>
      <label for = "Title">Title:</label>
      <br />
	  @Html.TextBoxFor(m => m.Title)
      @Html.ValidationMessageFor(m => m.Title)
      </p>
    </div>    

    <div>
      <p>
      <label for = "Notes">Notes:</label>
      <br />
      <textarea id="notes" name="Notes" rows="6" cols="50" > 
      </textarea>
      @Html.ValidationMessageFor(m => m.Notes)
      </p>
    </div>
			
    <div>
      @Html.SubmitButton("btnSave", "Save Dive Type")
	  @Html.Button("btnCancel", "Cancel", HtmlButtonType.Button,"window.location.href = '../'")
  </div>
    </fieldset>
}
