@using Microsoft.Web.Mvc
@using Phorcys.UI.Web.Controllers
@using Phorcys.UI.Web.Models
@using Phorcys.Core
@using SharpArch.Web.Areas
@model Phorcys.UI.Web.Models.RegisterModel
           
@{
    ViewBag.Title = "Create a New Account";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
 }

<h2> 
  Create a New Account
</h2>


    <p>
        Use the form below to create a new account. 
    </p>
    <p>
        Passwords are required to be a minimum of @(Html.Encode(ViewData["PasswordLength"]) ) characters in length.
    </p>

    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
        
        <div>
            <fieldset>
                <legend>Account Information</legend>
                
                <div class="editor-label">
                    <label for="UserName">User Name</label>
                </div>
                <div class="editor-field">
                    @Html.TextBox("UserName")
                    @Html.ValidationMessage("UserName")
                </div>
                <br />
                <div class="editor-label">
                    <label for="User_Email">Email</label>
                </div>
                <div class="editor-field">
                    @Html.TextBox("Email")
                    @Html.ValidationMessage("Email")
                </div>
                <br />
                <div class="editor-label">
                   <label for="Password">Password</label>
                </div>
                <div class="editor-field">
                    @Html.Password("Password")
                    @Html.ValidationMessage("Password")
                </div>
                <br />
                <div class="editor-label">
                    <label for="ConfirmPassword")>Confirm Password</label>
                </div>
                <div class="editor-field">
                    @Html.Password("ConfirmPassword")
                    @Html.ValidationMessage("ConfirmPassword")
                </div>
                <br />
                <p>
                    <input type="submit" value="Register" />
                </p>
            </fieldset>
        </div>
      }

